.content {
  margin-top: 20px;
  border: 1px solid black;
  border-color: transparent;
  border-radius: 4px;
  width: 800px;
  background-image: url(/src/image/wireebg.jpg);
  background-position: center;
  background-size: cover;
}
/* .time {
  margin-left: 55px;
} */
h1 {
  margin: 25px;
}
.my-button {
  background: #0e79b2;
  border: 1px solid #0e79b2;
  transition: all ease-in-out 200ms;
}
.my-button:hover {
  background-color: #1b94d4;
  border-color: #1b94d4;
}
.current {
  color: black;
}
.today {
  margin-bottom: 70px;
}
.weekday {
  font-weight: 700;
}
.my-form {
  margin-top: 20px;
}
img {
  opacity: 1;
}
.details {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}
a {
  text-decoration: none;
  color: #0e79b2;
}
.footer-link {
  color: white;
  text-decoration: none;
}
.footer-link:hover {
  color: white;
  text-decoration: underline;
}
